<h2 class="list-head">Lista zadań</h2>

<ng-container *ngIf="(tasks$ | async)?.length; else empty">
  <table class="list-table">
    <thead class="list-table-thead">
      <tr>
        <th>#</th>
        <th>Zadanie</th>
        <th>Kategoria</th>
        <th>Data</th>
        <th>Priorytet</th>
        <th>Status</th>
        <th>
          <input
            type="checkbox"
            [checked]="allSelected"
            (change)="toggleSelectAll($event)"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let task of tasks$ | async; let i = index"
        class="list-table-row"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ task.nazwaZadania }}</td>
        <td>{{ task.kategoria }}</td>
        <td>{{ task.data | date : "yyyy-MM-dd" }}</td>
        <td>
          <span
            class="badge-priority"
            [ngClass]="
              task.priorytet === 'Niski'
                ? 'bg-low'
                : task.priorytet === 'Wysoki'
                ? 'bg-high'
                : 'bg-medium'
            "
          >
            {{ task.priorytet }}
          </span>
        </td>
        <td>
          <span
            class="badge-status"
            [ngClass]="task.status ? 'bg-success' : 'bg-warning'"
          >
            {{ task.status ? "Ukończone" : "Nieukończone" }}
          </span>
        </td>
        <td>
          <input
            type="checkbox"
            [(ngModel)]="selectedTasksMap[task.id]"
            name="checkbox-{{ task.id }}"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <div
    *ngIf="editErrorMessage"
    role="alert"
    class="list-alert-edit fade-out-alert-edit"
  >
    <!-- <i class="fas fa-exclamation-triangle me-2"></i> -->
    <div
      class="list-alert-edit-container"
      [ngClass]="{ 'fade-out-alert': !showAlert }"
    >
      <div class="list-alert-edit-container-text">{{ editErrorMessage }}</div>
    </div>
  </div>
  <div class="list-buttons">
    <button class="list-buttons-finished" (click)="markSelectedAsCompleted()">
      Ukończ
    </button>
    <button class="list-buttons-delete" (click)="removeSelected()">Usuń</button>
    <button class="list-buttons-edit" (click)="editSelected()">Edytuj</button>
  </div>
</ng-container>

<ng-template #empty>
  <p class="text-muted">Brak zadań.</p>
</ng-template>
